@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao BackOffice do TheDrinkHub</h1>
    <p>Aceda ao FrontOffice <a asp-controller="Home" asp-action="Main">aqui</a>.</p>
</div>
